.menu-items {
    width: 100%;
    height: 100%;
    align-items: center;
}

#menu-burger {
    display: none;
}

#menu-burger:checked ~ .menu-wrapper {
    display: flex;
}

.menu-button {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
/* добавляем "гамбургер" */
.menu-button > span,
.menu-button > span::before,
.menu-button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}
.menu-button > span::before {
    content: '';
    top: -8px;
}
.menu-button > span::after {
    content: '';
    top: 8px;
}

.menu-button > span,
.menu-button > span::before,
.menu-button > span::after {
    transition-duration: .40s;
}

#menu-burger:checked ~ .menu-button > span {
    transform: rotate(45deg);
}
#menu-burger:checked ~ .menu-button > span::before {
    top: 0;
    transform: rotate(0);
}

#menu-burger:checked ~ .menu-button > span::after {
    top: 0;
    transform: rotate(90deg);
}

.menu-item-content {
    margin: 0 10% 0 10%;
}

.menu-text {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 70px;
}

.menu-item {
    color: #4F4F4F;
}

.menu-item:hover {
    background: #4F4F4F;
    color: #BDBDBD;
}

.menu-item:active {
    background: #6c6868;
    color: #BDBDBD;
}

/*item*/
.item-image {
    width: 100%;
    height: 100%;
    object-fit:none;
    grid-area: item-image;
}

.price {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
}

.price-back {
    height: 36px;
    text-align: center;
    background: #C4C4C4;

    grid-area: price-back;
}

.in-basket {
    font-size: 22px;
    line-height: 28px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}

.in-basket-back {
    background: #EB5757;
    color: #4F4F4F;
    border-radius: 3px;
    text-align: center;

    grid-area: in-basket-back;
}

.in-basket-back:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    cursor: pointer;
}

.in-basket-back:active {
    color: #4F4F4F;
}

.modal-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #4F4F4F;
}

.modal-text {
    width: 80%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #4F4F4F;
}

.product-grid {
    display: grid;
    border-spacing: 0px 30px;
    grid-template-areas:
        "item-image item-image"
        "product-name product-name"
        "price-back price-back"
        "socks-size in-basket-back";
}

.product-item {
    padding: 10px;
    border-radius: 7px;
}

.product-card {
    width: 100%;
    border-spacing: 0px 0px;
}

.product-item:hover {
    box-shadow: 0 0 15px rgba(7, 6, 6, 0.5);
}

.product-name {
    grid-area: product-name;
    text-align: center;
}

.socks-size {
    grid-area: socks-size;
}

.contact {
    align: center;
    text-align: center;

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: white;
}

.contact > div:nth-child(0) {
    grid-area: zero;
}

.contact > div:nth-child(1) {
    grid-area: first1;
}

.contact > div:nth-child(2) {
    grid-area: second;
}

.contact > div:nth-child(3) {
    grid-area: third;
}

.social-media:hover {
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
    border-radius: 30px;
}

.social-media:active {
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.5);
}

.footer-background {
    width: 100%;
    margin-top: 79px;
    height: 258px;
    table-layout: fixed;

    opacity: 0.9;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1 0 auto;
    box-sizing: border-box;
}

.footer {
    height: 420px;
    flex-shrink: 0;

    background: url("../img/footer.png");
}

.footer-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "zero first1 second third"
            ". . social-media-grid ."
}

.social-media { }

.social-media-grid {
    display: flex;
    justify-content: space-evenly;
    grid-area: social-media-grid;
}

.social-media-grid > .contact {
    flex: 1;
}

.option-text {
    width: 100%;

    font-size: 20px;
    line-height: 100%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #4F4F4F;
}

.notification-text {
    font-size: 28px;
    line-height: 100%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #4F4F4F;
}

.notification-fragment {
    padding: 20px;
    background-color: #EB5757;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.modal-cross {
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;
}

.modal-basket {
    width: 40%;
    min-width: 500px;
    padding: 0.5% 0px 0.5% 0.5%;
    background-color: white;
}

.modal-cross-basket {
    right: 20px;
    cursor: pointer;
    color: #4F4F4F;
}

.modal-cross:hover {
    background: #c9c5c5;
}

.modal-cross-basket:hover {
    background: #c9c5c5;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.menu-wrapper {
    flex-wrap: wrap;
}

.menu-wrapper > button {
    flex: 1;
}

.header-wrapper {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: flex-end;
}

.scroll {
    overflow: auto;
}

.content-in-basket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.basket-product-image {
    height: 80px;
    width: 80px;
}

.basket-total {
    text-align: end;
}

.product-img {
    width: 100%;
}