.menu-items {
    width: 100%;
    height: 100%;
    justify-content: center;
    column-count: 4;
}

.menu-item-content {
    width: 100%;
}

.menu-text {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 70px;
}

.menu-item {
    color: #4F4F4F;
}

.menu-item:hover {
    background: #4F4F4F;
    color: #BDBDBD;
}

.menu-item:active {
    background: #6c6868;
    color: #BDBDBD;
}

/*item*/
.item-image {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.price {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
}

.price-back {
    height: 36px;
    width: 50%;

    background: #C4C4C4;
}

.in-basket {
    font-size: 22px;
    line-height: 28px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}

.in-basket-back {
    background: #EB5757;
    color: #4F4F4F;
    width: 50%;
    border-radius: 3px;
}

.in-basket-back:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    cursor: pointer;
}

.in-basket-back:active {
    color: #4F4F4F;
}

.modal-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #4F4F4F;
}

.modal-text {
    width: 80%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #4F4F4F;
}

.product-grid {
    border-spacing: 0px 30px;
}

.product-item {
    width: 25%;
    padding: 10px;
    border-radius: 7px;
}

.product-card {
    width: 100%;
    border-spacing: 0px 0px;
}

.product-item:hover {
    box-shadow: 0 0 15px rgba(7, 6, 6, 0.5);
}

.contact {
    align: center;
    text-align: center;

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: white;
}

.social-media:hover {
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
    border-radius: 30px;
}

.social-media:active {
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.5);
}

.footer-background {
    position: absolute;
    width: 100%;
    margin-top: 79px;
    height: 258px;
    table-layout: fixed;

    opacity: 0.9;
}

.footer {
    height: 416px;
    margin-top: 50px;

    background: url("../img/footer.png");
}

.option-text {
    width: 100%;
    height: 100%;

    font-size: 20px;
    line-height: 100%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #4F4F4F;
}

.notification-text {
    font-size: 28px;
    line-height: 100%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #4F4F4F;
}

.notification-fragment {
    padding: 20px;
    background-color: #EB5757;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*border: 1px solid white;*/
    background-color: white;
    z-index: 3;
}

.modal-cross {
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;
}

.modal-cross-basket {
    right: 20px;
    cursor: pointer;
}

.modal-cross:hover {
    background: #c9c5c5;
}

.modal-cross-basket:hover {
    background: #c9c5c5;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    /*z-index: 2;*/
}

.js-basket {

}

.js-overlay { }

.js-open-basket { }

.js-close-basket { }

.js-close-overlay {

}

.js-hidden {
    visibility: hidden;
}

.js-add-to-basket { }

.js-product-count { }

.js-notification { }

.js-loader { }

.js-basket-items { }
/*.js-visible {*/
/*    visibility: visible;*/
/*}*/

.js-product-name { }

.js-product-price { }

.js-product-quantity { }

.js-product-size { }

.js-product-img {
    height: 80px;
    width: 80px;
}