
/*main palette*/
.black {
    background: #000000;
}

.white {
    background: #FFFFFF
}

.gray {
    background: #C4C4C4;
}

.dark-gray {
    background: #4F4F4F;
}

/*image format*/
figure {
    margin: 0;
}

img {
    vertical-align: top;
}

/*buttons format*/
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

/*header*/
.header {
    height: 60px;
    padding-left: 10%;
    padding-right: 10%;
}

.header-background {
    background: linear-gradient(to right, #C4C4C4, #fff8f8)
}

/*content format*/
.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.product-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 3%;
}







