table#header {
    /* Rectangle 1 */
    width: 100%;
    height: 60px;

    background-color: #E0E0E0;
}

table#icon-row {
    margin-top: auto;
    margin-bottom: auto;
}

svg#logo {
    width: 109px;
    height: 60px;
}

svg#basket {
    align: right;
    /*position: absolute;*/
    width: 30px;
    height: 30px;
}
svg#user {
    /* u:user */
    /*position: absolute;*/
    width: 30px;
    height: 30px;
}
svg#logout {
    /*position: absolute;*/
    width: 31px;
    height: 30px;
}
span#user-name {
    /* Marjona M. */
    /*position: absolute;*/

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;

    /* Gray 2 */
    color: #4F4F4F;
}
.page {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin: 0;
}

img {
    vertical-align: top;
}

img#photo {
    width: 100%;
    height: 270px;
}

section#menu-items {
    width: 100%;
    height: 100%;
    background: #C4C4C4;
}
.menu-text {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 70px;

    color: #4F4F4F;
}

.menu-item-selected {
    background: #4F4F4F;
}

.menu-text-selected {
    color: #BDBDBD;
}

.menu-item {
    background: #C4C4C4;
}

.text1 {
    /* 299 руб. */
    position: absolute;
    width: 280px;
    height: 36px;
    left: 85px;
    top: 744.92px;

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    background-color: #C4C4C4;
}
.menu {
    /* Rectangle 2 */
    position: absolute;
    width: 280px;
    height: 70px;

}

.socks {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.price {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #4F4F4F;
}

.price-back {
    height: 36px;
    background: #C4C4C4;
}

.in-basket {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #4F4F4F;
}

.in-basket-back {
    background: #EB5757;
}

.product-item {
    border-spacing: 70px 30px;
}

svg#contact {
    /* Rectangle 11 */
    position: absolute;
    width: 1440px;
    height: 258px;
    left: 0px;
    margin-top: 85px;

    /* Gray 2 */
    background: #4F4F4F;
    opacity: 0.9;
}
.contact {
    align: center;
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */

    /* white */
    color: white;

}
.background {
    table-layout: fixed;
    position: absolute;
    /*align-content: center;*/
    width: 100%;
    margin-top: 79px;

    height: 258px;

    /* Gray 2 */
    background: #4F4F4F;
    opacity: 0.9;
}

.footer {
    background: url("../img/footer1.png");
    height: 416px;
    margin-top: 50px;
}